$color-blue: #3461E2;
$color-blue-fade: #E5EAFB;
$whitesmoke: #F6F9FE;
$tex-color: #3D3D3D;
$border-radius: 100px;

.hero {
    padding-top: 50px;
    position: relative;
    z-index: 0;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 50px;
        .intro {
            text-align: center;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            background-color: rgba(255, 255, 255, 0.831);
            padding: 30px 30px 30px 0px;
            border-radius: 50px;
        }

        .promo-video {
            position: relative;
            background: url('/static/img/csr-lanch.webp');
            background-position: center;
            background-size: cover;
            height: 600px;
            width: 100%;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $whitesmoke;
            .pop-up {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: -50px;
                right: 0;
                left: 0;
                display: none;
                z-index: 3;
                .pop-up-video {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    width: 100%;
                    height: 600px;
                    .close-pop-up {
                        cursor: pointer;
                        img {
                            background-color: white;
                            height: 44px;
                            padding: 10px;
                            border-radius: 34px;
                        }
                    }
                }
            }
            .youtube {
                display: flex;
                gap: 15px;
                background-color: #3462e2d3;
                padding: 10px;
                border-radius: 38px;
                cursor: pointer;
                .play-btn {
                    max-width: 38px;
                    border-radius: 38px;
                    background-color: $whitesmoke;
                }
                .link {
                    text-decoration: underline;
                }
            }
        }
    }
}

.why {
    padding: 80px 0;
    .container {
        padding: 50px;
        background-color: $whitesmoke;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .why-section {
            display: flex;
            align-items: center;
            .why-col {
                width: 50%;
                padding-right: 30px;
            }
            .why-image {
                width: 50%;
                img {
                    border-radius: 20px;
                }
            }
        }

        .inverse {
            flex-direction: row-reverse;

            .why-col {
                padding-left: 30px;
            }
        }
    }
}

.services-section {
    .container {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .services {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 20px;

            a {
                .service {
                    max-width: 380px;
                    background-color: $whitesmoke;
                    padding: 30px;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    height: 300px;
                    transition: linear 0.3s;
                    &:hover {
                        background-color: $color-blue-fade;
                    }
                    .serive-title {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        img {
                            width: 50px;
                            height: 50px;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}

.call-to-actiom {
    padding: 80px 0;
    text-align: center;
    .container {
        background-color: $color-blue;
        color: white;
        padding: 50px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .cta-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            button {
                background-color: white;
                color: $color-blue;
            }
        }

    }
}

.team {
    .container {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .team-members {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .member {
                max-width: 233px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 20px;
                    border: 1px solid whitesmoke;
                }
                .desc {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    img  {
                        width: 44px;
                        height: 44px;
                        border-radius: 0;
                        .name-title {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                        }
                    }

                    .name-title {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

.partners {
    padding: 80px 0;
    .container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .partners-logos {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .partner {
                width: 100px;
                transition: linear 0.3s;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

.get-in-touch {
    padding-bottom: 50px;
    .container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .contacts {
            display: flex;
            gap: 50px;
            justify-content: space-between;
            .addresses {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                row-gap: 20px;
                .address {
                    width: 287px;
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;
                    background-color: $whitesmoke;
                    padding: 20px;
                    border-radius: 20px;

                    .address-title {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        img {
                            max-width: 32px;
                        }
                    }

                    .address-info {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
            .form {
                width: 40%;
            }
        }

        .map {
            display: flex;
            width: 100%;
            .new-office {
                height: 390px;
                width: 350px;
                object-fit: cover;
            }

            .google-map {
                border-radius: 0 20px 20px 0;
                position: relative;
                
                &::after {
                    content:"";
                    background: $color-blue;
                    position: absolute;
                    top: 0; right: 0;
                    height: 100%;
                    width: 100%;
                }
            }

        }
    }
}

// under 1200

@media screen and (max-width: 720px) {
    .container {
        padding: 0 50px
    }
}

@media screen and (max-width: 900px) {
    .hero {
        .container {
            .intro {
                width: 70%;
                padding: 30px;
                border-radius: 20px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 0 20px;
    }

    .hero {
        .container {
            gap: 50px;

            .intro {
                .buttons {
                    display: flex;
                    flex-direction: column;
                }
            }

            .social-proof {
                justify-content: start;
                gap: 20px;
            }
        }
    }
    .services-section {
        .container {
            .services {
                .service {
                    max-width: 30%;
                }
            }
        }
    }

    .get-in-touch {
        .container {
            .contacts {
                .addresses {
                    .address {
                        width: 48%;
                    }
                }
            }
        }
    }
}

//Mobile styles

@media screen and (max-width: 540px) {
    .hero {
        padding-top: 50px;
        .container {
            gap: 10px;
            .intro {
                width: 100%;
                .buttons {
                    display: flex;
                    flex-direction: column;
                }
            }

            .promo-video {
                height: 220px;
                width: 100%;
                .pop-up {
                    .pop-up-video {
                        height: 300px;
                        width: 100%;
                    }
                }
            }
        }
    }

    .why {
        padding: 50px 0;
        .container {
            padding: 30px;
            border-radius: 20px;
            background-color: transparent;
            .why-section {
                margin-top: 50px;
                flex-direction: column-reverse;
                background-color: $whitesmoke;
                gap: 20px;
                border-radius: 20px;
                .why-col {
                    width: 100%;
                    padding: 30px;

                    .why-title {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }

                .why-image {
                    width: 100%;

                    img {
                        border-radius: 20px 20px 0 0;
                    }
                }
            }
        }
    }

    .services-section {
        .container {
            .services {
                a {
                    .service {
                        max-width: 100%;
                        padding: 20px;
                        .serive-title {
                            img {
                                max-width: 32px;
                            }
                        }
                    }
                }
            }
        }
    }

    .call-to-actiom {
        padding: 50px 20px;
        .container {
            padding: 50px 20px;
        }
    }

    .team {
        .container {
            .team-members {
                flex-direction: column;
                gap: 50px;
                .member {
                    max-width: 100%;

                    img {
                        height: 400px;
                    }
                }
            }
        }
    }

    .partners {
        padding: 50px 0;
        .container {
            .partners-logos {
                .partner {
                    width: 32%;
                }
            }
        }
    }

    .get-in-touch {
        .container {
            .contacts {
                flex-direction: column;

                .addresses {
                    width: 100%;
                    .address {
                        width: 100%;
                        height: 120px;

                    }
                }

                .form {
                    width: 100%;
                }
            }

            .map {
                padding-top: 50px;
                flex-direction: column;

                .new-office {
                    height: 200px;
                    width: 100%;

                    border-radius: 20px 20px 0 0;
                }

                .google-map {
                    border-radius: 0 0 20px 20px;
                }
            }
        }
    }

    footer {
        .container {
            flex-direction: column;
            gap: 50px;
            .company {
                width: 100%;
            }

            .site-map {
                width: 100%;
                text-align: start;

                .social-media-icons {
                    justify-content: start;
                    margin-left: -15px;
                }
            }
        }
    }
}
