@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #3D3D3D;
  font-size: 18px;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

.heading {
  font-family: "Abril Fatface", cursive;
  font-size: 45px;
}

.section-header {
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-top: -112px;
}

.sub-heading {
  font-size: 24px;
  font-weight: lighter;
  color: #3461E2;
}

button {
  padding: 12px 35px;
  outline: none;
  border: none;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: inherit;
  border-radius: 100px;
  background-color: #3461E2;
  color: #F6F9FE;
  cursor: pointer;
  transition: linear 0.3s;
}
button:hover {
  margin-top: -4px;
  margin-bottom: 4px;
}

.btn-outile {
  background-color: transparent;
  color: #3461E2;
  border: 1px solid #3461E2;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}
form input, form textarea {
  padding: 12px 25px;
  width: 100%;
  border: 1px solid #3D3D3D;
  border-radius: 20px;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
form input::placeholder, form textarea::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
form input[type=submit] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  background-color: transparent;
  color: #F6F9FE;
  border: 0;
  font-size: 18px;
}

.buttons {
  display: flex;
  gap: 25px;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
}
.link p {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
.container .col {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}
.container .col img {
  border-radius: 20px;
}

footer {
  background-color: #3461E2;
  color: #F6F9FE;
  padding: 50px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .container .company {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .container .company .copy-rights {
  display: flex;
  gap: 5px;
}
footer .container .company .copy-rights .copy-rghts-icon {
  max-width: 22px;
}
footer .container .company .copy-rights p span {
  font-weight: bold;
  text-decoration: underline;
}
footer .container .site-map {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: end;
}
footer .container .site-map .social-media-icons {
  display: flex;
  justify-content: end;
  gap: 15px;
}

.active-menu {
  text-decoration: underline;
  color: #3461E2;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 540px) {
  .container {
    padding: 0 20px;
  }
  .container .col {
    width: 100%;
  }
  .heading {
    font-size: 30px;
  }
  .sub-heading {
    font-size: 18px;
  }
  body {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */