{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/blog.css' %}">

    <link rel="icon" type="image/x-icon" href="/img/csr logo.svg">
    <title>CSR | Checkout our blog</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="blog-page-header">
        <div class="container">
            <div class="col">
                <h1 class="heading">Check out our blog recently published blogs</h1>
            </div>

            <div class="col">
                <img src="{% static '/img/brooke-cagle--uHVRvDr7pg-unsplash.jpg' %}" alt="">
            </div>
        </div>
    </div>

    <section class="blogs">
        <div class="container">
            <a href="/single-blog.html">
                <div class="blog">
                    <img src="{% static '/img/Data entry service.webp' %}" alt="">
                    <div class="blog-summary">
                        <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                        </p>
                    </div>
                </div>
            </a>

            <a href="/single-blog.html">
                <div class="blog">
                    <img src="{% static '/img/Data entry service.webp' %}" alt="">
                    <div class="blog-summary">
                        <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/single-blog.html">
                <div class="blog">
                    <img src="{% static '/img/Data entry service.webp' %}" alt="">
                    <div class="blog-summary">
                        <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/single-blog.html">
                <div class="blog">
                    <img src="{% static '/img/Data entry service.webp' %}" alt="">
                    <div class="blog-summary">
                        <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/single-blog.html">
                <div class="blog">
                    <img src="{% static '/img/Data entry service.webp' %}" alt="">
                    <div class="blog-summary">
                        <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/single-blog.html">
                <div class="blog">
                    <img src="{% static '/img/Data entry service.webp' %}" alt="">
                    <div class="blog-summary">
                        <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/single-blog.html">
                <div class="blog">
                    <img src="{% static '/img/Data entry service.webp' %}" alt="">
                    <div class="blog-summary">
                        <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/single-blog.html">
                <div class="blog">
                    <img src="{% static '/img/Data entry service.webp' %}" alt="">
                    <div class="blog-summary">
                        <h3 class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </section>

    {% include 'footer.html' %}
    {% endblock %}
</body>