{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/blog.css' %}">

    <link rel="icon" type="image/x-icon" href="/img/csr logo.svg">
    <title>CSR | Checkout our blog</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="blog-page-header">
        <div class="container">
            <div class="col">
                <h1 class="heading">Check out our blog recently published blogs</h1>
            </div>

            <div class="col">
                <img src="{% static '/img/brooke-cagle--uHVRvDr7pg-unsplash.jpg' %}" alt="">
            </div>
        </div>
    </div>

    <section class="blogs">
        <div class="container">
            {% for blog in blogs %}
            <a href="{{blog.get_absolute_url}}">
                <div class="blog">
                    <img src="{{blog.featured_image.url}}" alt="">
                    <div class="blog-summary">
                        <h3 class="title">{{blog.title|truncatechars:45}}</h3>
                        <p>
                            {{blog.blog_summary|truncatechars:155}}
                        </p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>

    {% include 'footer.html' %}
    {% endblock %}
</body>