{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/services.css' %}">
    <title>CSR | Data entry Service</title>
</head>

<body>
    <header class="">
        <nav class="navbar">
            <div class="brand">
                <a href="/">
                    <img class="logo" src="{% static '/img/csr logo.svg' %}" alt="">
                <p class="site-title">Comprehensive Staffing <br>
                    Resources Ltd(CSR)
                </p>
                </a>     
            </div>
            <div class="menu-bar" id="menuBtn" href="" onclick="OpenCloseMenu()">
                <img id="OpenMenu" src="{% static '/img/icons/menu-bar.svg' %}" alt="">
                <img id="CloseMenu" src="{% static '/img/icons/close.svg' %}" alt="">
            </div>
            </div>
            <div class="nav-menu" id="nav-menu">
                <a class="menu-link" href="/index.html">Welcome</a>
                <a class="menu-link" href="#about">About Us</a>
                <a class="menu-link" href="#services">Services</a>
                <a class="menu-link" href="#gallery">Gallery</a>
                <a class="menu-link" href="/blog.html">Our Blog</a>
                <a class="menu-link" href="#get-in-touch">
                    <button class="btn-outil">Contact us <span><img src="{% static '/img/icons/support.svg' %}" alt=""></span></button>
                </a>
            </div>
        </nav>
    </header>

    <section class="section-header">

    </section>

    <section class="service-content">
        <div class="container">
            <div class="col">
                <h1 class="heading">Data entry Service</h1>
                <p>
                    In the technology-centred world we live in today, digitalization is a necessity for most businesses
                    – irrespective of the industry they operate in. It goes a long way in determining the long-term
                    operations of organisations. With this in mind, we have built a strong, committed Data Entry
                    Services team that delivers high-end results.

                    You can depend on our reliable data entry services to improve efficiency and develop a robust,
                    accessible database of crucial information. This gives you the support you need to utilise resources
                    and confidently pursue core business goals optimally. Our essential services include:
                <ol>
                    <li>Online Data Data entry</li>
                    <li>Offline data entry</li>
                    <li>Image data entry survey forms data entry</li>
                    <li>Survey Forms Data Entry</li>
                </ol>

                With CSR, you can be assured of accurate Data Entry results while you can concentrate on the other
                ventures of your business that requires attention. We ensure that our team of experts deliver the
                project on time and accurate information.
                </p>
                <a href="">
                    <button>Hire a talent <span><img src="{% static '/img/icons/angle right.svg' %}" alt=""></span></button>
                </a>
            </div>

            <div class="col">
                <img src="{% static '/img/kabibi.webp' %}" alt="">
            </div>
        </div>
    </section>

    {% include 'footer.html' %}
    {% endblock %}
</body>