{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/features.css' %}">

    <link rel="icon" type="image/x-icon" href="/img/csr logo.svg">
    <title>CSR | Checkout our feature</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="feature-page-header">
        <div class="container">
            <div class="col">
                <h1 class="heading">Checkout artricles that we were featured in</h1>
            </div>

            <div class="col">
                <img src="{% static '/img/brooke-cagle--uHVRvDr7pg-unsplash.jpg' %}" alt="">
            </div>
        </div>
    </div>

    <section class="features">
        <div class="container">
            {% for feature in features %}
            <a href="{{feature.article_link}}" target="_blank">
                <div class="feature">
                    <img src="{{feature.featured_image.url}}" alt="">
                    <div class="feature-summary">
                        <h3 class="title">{{feature.title|truncatechars:45}}</h3>
                        <p>
                            {{feature.news_paper|truncatechars:25}}
                        </p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>

    {% include 'footer.html' %}
    {% endblock %}
</body>