{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/services.css' %}">
    <title>CSR | Financial analysis and calculations-related services</title>
</head>
<body>
    {% include 'navbar.html' %}

    <section class="section-header">
        
    </section>

    <section class="service-content">
        <div class="container">
            <div class="col">
                <h1 class="heading">Financial analysis and calculations-related services</h1>
                <p>
                    Our financial consulting services are designed to provide you with expert analysis and advice regarding your company’s strategic decisions.

                    As you consider exploring business opportunities, investments, and partnerships, understanding your decisions' short, medium, and long-term ramifications is crucial.
                    
                    Our financial consulting services make it easy to understand the financial impact your decisions will have on your company’s future.  
                </p>
                <a href="/#get-in-touch">
                    <button>Hire a talent <span><img src="{% static '/img/icons/angle right.svg' %}" alt=""></span></button>
                </a>
            </div>

            <div class="col">
                <img src="{% static '/img/kabibi.webp' %}" alt="">
            </div>
        </div>
    </section>

    {% include 'footer.html' %}
    {% endblock %}
</body>