{% load static %}

<footer>
    <div class="container">
        <div class="company">
            <h2 class="company-title">
                About the company
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. 
            </p>

            <div class="copy-rights">
                <img class="copy-rghts-icon" src="{% static '/img/icons/copy-rghts.svg' %}" alt="">
                <p>
                    All rights reserved. Design by <span>Alphonse</span>
                </p>
            </div>
        </div>

        <div class="site-map">
            <div class="social-media-icons">
                <a href=""><img src="{% static '/img/icons/facebook.pdf' %}" alt=""></a>
                <a href=""><img src="{% static '/img/icons/insta.svg' %}" alt=""></a>
                <a href=""><img src="{% static '/img/icons/youtube.svg' %}" alt=""></a>
                <a href=""><img src="{% static '/img/icons/twiter.svg' %}" alt=""></a>
                <a href=""><img src="{% static '/img/icons/linkedin.svg' %}" alt=""></a>
            </div>

            <div class="footer-menu">
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Services</a>
                <a href="">Carelly</a>
                <a href="">Get in touch</a>
            </div>
        </div>
        
    </div>
</footer>

<script src="{% static '/js/nav.js' %}"></script>
<script src="{% static '/js/main.js' %}"></script>