{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static '/css/services.css' %}">
    <title>CSR | Non-deposit-taking microfinance</title>
</head>
<body>
    {% include 'navbar.html' %}

    <section class="section-header">
        
    </section>

    <section class="service-content">
        <div class="container">
            <div class="col">
                <h1 class="heading">Non-deposit-taking microfinance</h1>
                <p>
                    CSR aims to be part of the non-deposit-taking microfinance institutions offering custom-made working capital solutions to small and medium businesses. The offers will include factoring, inventory financing, and other working capital funding. Usually, the grants will range in sizes from Rwf 100k to Rwf 50M.

                    CSR is under documentation and seeking approval for the services that once approved will be offered to our existing clients and other interested small and medium businesses. 
                </p>
                <a href="/#get-in-touch">
                    <button>Hire a talent <span><img src="{% static '/img/icons/angle right.svg' %}" alt=""></span></button>
                </a>
            </div>

            <div class="col">
                <img src="{% static '/img/kabibi.webp' %}" alt="">
            </div>
        </div>
    </section>

    {% include 'footer.html' %}
    {% endblock %}
</body>