<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/under-construction.css">
    <title>CSR | Under Construction</title>
</head>
<body>
    <div class="container">
        <div class="under-construction">
            <h1 class="heading">This Page is Under Construction</h1>
            <a href="">
                <button>Go back to home</button>
            </a>
        </div>
    </div>
</body>
</html>